<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup form {
  padding: 0;
}
#mc_embed_signup .button {
  color: white;
  background-color: #F48024;
}
#mc_embed_signup .button:hover {
  background-color: #2C2C2C;
}
#mc_embed_signup .email {
  border-radius: 4px;
  border-color: #2C2C2C;
}
#mc_embed_signup label {
  color: #313131;
  font-size: 1.5rem;
}
</style>
<div id="mc_embed_signup">
<form action="//ricardopereira.us9.list-manage.com/subscribe/post?u=e35f2b5402ed5b69120ae71ff&amp;id=cbab2e19bf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Subscribe for newsletter</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e35f2b5402ed5b69120ae71ff_cbab2e19bf" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<!--End mc_embed_signup-->