---
layout: default
comments: true
---

<script type="text/javascript" src="{{ site.baseurl }}public/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/jstorage.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/kudos.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/kudos.firebase.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/kudos.css">

<script type="text/javascript">
$(function(){
    $('figure').kudoable();
});
</script>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - <a href="{{ site.author.url }}">{{ site.author.name }}</a>

  {% if page.comments != false %}
    <br/>
    <span class="comment-count"><a href="{{ site.url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a></span>
  {% endif %}
  </span>

  <ul class="tags">
    {% for tags in page.tags %}
      <li class="tag">{{ tags }}</li>
    {% endfor %}
  </ul>
  </br>

  {{ content }}
</div>

<div class="share">
  <a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}:&amp;via=ricardopereiraw" class="twitter_button buzz-out" title="Share this article on Twitter" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>

  <figure class="kudo"></figure>
</div>


{% include relatedposts.html %}

{% if page.comments %}
  {% include comments.html %}
{% endif %}
