---
layout: default
comments: true
---

<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} - <a href="{{ site.author.url }}">{{ site.author.name }}</a>
  </span>

  <ul class="tags">
    {% for tags in page.tags %}
      <li class="tag">{{ tags }}</li>
    {% endfor %}
  </ul>
  <br/>

  {{ content }}
</div>

<div class="share">
  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title }}:&amp;via=ricardopereiraw" class="twitter-button buzz-out" title="Share this article on Twitter" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
</div>

<br/>

{% include relatedposts.html %}

<br/>
